/* *{
    box-sizing: border-box;
    margin: 0px;
}
:root{
    --container-width:1140px
}
.container{
    max-width: var(--container-width);
    margin-inline: auto;
}
.myHeader{
    background: linear-gradient(to right,#141e30,#243b55);
    color: rgb(218, 209, 209);
}
.myHeader .container{
    display: flex;
    align-items: center;
    padding: 1rem 0rem;
}

.myHeader a {
    text-decoration: none;
    color: rgb(97, 155, 209);
}
.myHeader ul {
    display: flex;
    list-style: none;
    gap: 2rem;
}
.myHeader nav {
    margin-inline: auto;
}
.myHeader a:hover{
    color: inherit;
} */

*{
    text-align: center;
}
body{
    background-color: whitesmoke;
}
.avatar{
    border-radius: 50%;
    max-width: 40%;
}
.staticcard{
    max-width: 350px;
    margin-inline: auto;
    padding: 18px;
    background-color: white;
    border-radius: 8px;
    /* aspect-ratio: 1/1; */
}
.footer{
    margin-inline: auto;
}
.fontsizelg{
    font-size: 1.5rem;
}
.role{
    color: rgba(44, 62, 88, 0.9);
}
.fw-480{
    font-weight: 480;
}
