*{
    box-sizing: border-box;
    margin: 0px;
}
:root{
    --container-width:1140px
}
.container{
    max-width: var(--container-width);
    margin-inline: auto;
}
.myHeader{
    background: linear-gradient(to right,#141e30,#243b55);
    color: rgb(218, 209, 209);
}
.myHeader .container{
    display: flex;
    align-items: center;
    padding: 1rem 0rem;
}

.myHeader a {
    text-decoration: none;
    color: rgb(97, 155, 209);
}
.myHeader ul {
    display: flex;
    list-style: none;
    gap: 2rem;
}
.myHeader nav {
    margin-inline: auto;
}
.myHeader a:hover{
    color: inherit;
}
